.path-local-envasyllabus {
    .syllabus-additional-buttons {
        display: flex;
        justify-content: flex-end;
        .btn {
            white-space: nowrap;
        }
    }
}

.teacherbox {
    flex: 0 0 300px;
    max-width: 300px;
    display: flex;
    margin-right: 2rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: $courseindex-item-page-bg;
    border-radius: 0.5rem;
    .userpicture {
        border-radius: 50%;
        margin-right: 0.25rem;
    }
    a {
        color: $courseindex-link-color-selected;
        font-weight: bold;
    }
    .media-body {
        max-width: 220px;
    }
}

// 2 Fixes for the camembert svg
.uevscompetency-summary {
    min-width: 500px;
}

.small-doghnut-legend .col-1 {
    padding: 0;
    margin-bottom: 0.3rem;
}